<a href="https://colab.research.google.com/github/puneet2599/aiwinter1920/blob/master/visualization0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd

In [0]:
df=pd.read_csv('http://54.166.189.131/datasets/diabetes.csv')

#this support local and url

In [0]:
#df
df.head() #by default top 5 rows

   Pregnancies  Glucose  BloodPressure  ...  DiabetesPedigreeFunction  Age  Outcome
0            6      148             72  ...                     0.627   50        1
1            1       85             66  ...                     0.351   31        0
2            8      183             64  ...                     0.672   32        1
3            1       89             66  ...                     0.167   21        0
4            0      137             40  ...                     2.288   33        1

[5 rows x 9 columns]

In [0]:
#for any specific columns
df['Country']

KeyError: ignored

In [0]:
df.iloc[0:3] #any specific range of rows

   Pregnancies  Glucose  BloodPressure  ...  DiabetesPedigreeFunction  Age  Outcome
0            6      148             72  ...                     0.627   50        1
1            1       85             66  ...                     0.351   31        0
2            8      183             64  ...                     0.672   32        1

[3 rows x 9 columns]

In [0]:
df.iloc[0:3,0:3]#specific rows and columns

   Pregnancies  Glucose  BloodPressure
0            6      148             72
1            1       85             66
2            8      183             64

In [0]:
df.iloc[1:4,0:2]

   Pregnancies  Glucose
1            1       85
2            8      183
3            1       89

In [0]:
df.iloc[[3,5],[1,2]].values

array([[ 89,  66],
       [116,  74]])

In [0]:
max(df['Age'])

81

In [0]:
mean(df['Age'])

NameError: ignored

In [0]:
 i for i in dir(pd) if 'read' in i

SyntaxError: ignored